.body-login {
    @extend .background_image;
    background-image: url("/image/login_background.jpg");
}

.login {
    @extend .content;
    width: 20%;
    min-width: 350px;
    top: 25vh;
    left: 10%;
    padding-bottom: 10px;
}

.login__form {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.login__form__input {
    width: 90%;
    height: 45px;
    font-size: 20px;
    margin-bottom: 5px;
}

.login__form__button {
    border-radius: 5px;
    background-color: $button_color;
    border: $button_border;
    font-size: 20px;
    width: 93%;
    height: 50px;
    color: $button_text_color;
    font-weight: bold;
    margin-bottom: 7px;
}

.login__header {
    text-align: center;
}

.login__form__link {
    color: #4d90fe;
    text-decoration: underline;
    text-align: center;
}

.login__form__error {
    @extend .error;
    text-align: left;
    margin-left: 12px;
}
