$content_bgcolor: #f0f0f0;
$content_bgcolor_transparent: rgba(240, 240, 240, 0.6);
$content_border_radius: 17px;
$content_font_family: 'Open Sans', arial;
$content_border: solid 1px #ddd;
$content_box_shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
$accented_color: #4d90fe;
$accented_text_color: white;
$button_border: solid 1px #11d;
$button_color: $accented_color;
$button_text_color: $accented_text_color;

.content {
    position: absolute;
    background-color: $content_bgcolor;
    border-radius: $content_border_radius;
    font-family: $content_font_family;
    border: $content_border;
    box-shadow: $content_box_shadow;
    text-align: center;
    margin-bottom: 30px;
}

.background_image {
    height: 100vh;
    background-position: center -25vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.big_block {
    @extend .content;
    width: 60%;
    margin: auto;
    top: 10vh;
    left: 0;
    right: 0;
    min-width: 600px;
    min-height: 70vh;
    text-align: center;
}

.error {
    font-style: italic;
    color: red;
}

@import 'login.scss';
@import 'registration.scss';
@import 'scoreboard.scss';
@import 'rooms.scss';
@import 'game.scss';
